<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" id="auth">
        <form method="POST">
          <div class="form">
            <h1>Авторизуйтесь в систему</h1>
            <div class="data__block">
              <input type="text" name="login" class="name" placeholder="Введите ваш логин">
              <input type="text" name="password" class="age" placeholder="Введите ваш пароль">
            </div>
            <div class="send">
                <button type="submit">Войти</button>
            </div>
          </div>
        </form>
        <hr class="featurette-divider">
      </div>
</body>
</html>